*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    margin: 0px;
}

.logo{
    width: 200px;
    height: auto;
}
.menu_obciones{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2%;
    cursor: pointer;
    user-select: none;
    height: 100%;
    color: rgb(255, 255, 255);
}
.menu_obciones :hover{
    background-color: rgb(199, 193, 193);
    color: rgb(0, 0, 0);
}
.menu_obciones > li {
    display: flex;
    align-items: center;     
    justify-content: center; 
    position: relative;
    padding: 0 25px;        
    height: 100%;
}

.submenu {
  position: fixed;
  top: 105px; 
  left: 0;
  width: 100vw;
  background-color: rgb(199, 193, 193);
  display: none;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
}
.desplegable:hover .submenu {
    display: flex;
}
.Contenedor_del_nav{
    display: flex;
    background-color: rgb(255,0,0 );
    width: 100%;
}
.desplegable{
    display: flex;
    height: 100%;    
    text-align: center;
    justify-content: center;
}