*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    margin: 0px;
}

.logo{
    width: 200px;
    height: auto;
}
.no_mouse{
    cursor: pointer;
    user-select: none;

}
.menu_obciones{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    color: rgb(255, 255, 255);
}
.menu_obciones :hover{
    background-color: rgb(199, 193, 193);
    color: rgb(0, 0, 0);
}
.menu_obciones > li {
    display: flex;
    align-items: center;     
    justify-content: center; 
    position: relative;
    padding: 0 25px;        
    height: 100%;
}
.linea{
    font-size: 13.5px;
    border-right: 1px solid rgb(255, 255, 255);
    height: 100%;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 2%;
}
.linea_final{
    font-size: 13.5px;
    height: 100%;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 2%;    

}
.submenu {
  position: fixed;
  top: 105px; 
  left: 0;
  width: 100vw;
  background-color: rgb(199, 193, 193);
  padding: 10px 0;
}
.desplegable:hover .submenu {
    display: flex;
}
.Contenedor_del_nav{
    display: flex;
    background-color: rgb(255,0,0 );
    width: 100%;
}
.desplegable{
    display: flex;
    height: 100%;    
    text-align: center;
    justify-content: center;
}
.tabla_menu{
    width: 70%;
    margin-left: 10vh;
    border-collapse: collapse;
    border: 1px solid rgb(255, 255, 255);
    background-color: royalblue;
}
.tabla_menu td{
    border: 1px solid rgb(255, 255, 255);
    width: auto;
}