.contacto{
    display:flex;
    justify-content: flex-end;
}
.Relleno{
    width: auto;
}
.imagen_contacto{
    width: 20px;
    height: auto;

}
.Text{
    display: flex;
    color: rgb(255, 255, 255);
    padding: 1%;
    padding-bottom: 0.1%;
    padding-top: 0.5%;
    width: auto;
    text-decoration: none;
}
.verde{
    background-color: rgb(1, 140, 145);
}
.verde:hover{
    background-color: rgb(32, 199, 163);
}
.rojo{
    background-color: rgb(192, 0, 0);
}
.rojo:hover{
    background-color: rgb(255, 0, 0);
}