*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    margin: 0px;
}
.logo_santander{
    padding-left: 5%;
}
.logo{
    width: 200px;
    height: auto;
}
.no_mouse{
    cursor: pointer;
    user-select: none;

}
.nav_Relaciones{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13.8px;
}
.nav_productos_0{
    margin-right: 10%;
    width: 40%;
    margin: 0px;
    padding: 0px;
    display: flex;

}
.nav_productos_0 .tabla_menu{
    width: 100%;
    margin-right: 10%;
}
.nav_productos_1{
    margin-left: 0px;
    width: 40%;
    margin: 0px;
    padding: 0px;
    display: flex;

}
.nav_productos_1 .tabla_menu{
    width: 100%;
    margin-left: 0px;
}
.linea-gris{
    border: none;
    height: 2px;
    background-color: #a0a0a0; 
    margin: 5px 0; 
    width: 80%;
}
.nav_texto_normal{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 13.8px;
}
.nav_texto_normal:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
.menu_obciones{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    color: rgb(255, 255, 255);
}
.menu_obciones :hover{
    background-color: rgb(199, 193, 193);
    color: rgb(0, 0, 0);
}
.menu_obciones > li {
    display: flex;
    align-items: center;     
    justify-content: center; 
    position: relative;
    padding: 0 25px;        
    height: 100%;
}
.linea{
    font-size: 13.8px;
    border-right: 1px solid rgb(255, 255, 255);
    height: 100%;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 2%;
}

.linea_f{
    font-size: 13.8px;
    height: 100%;
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 2%;    

}
.submenu {
  display: none;
  position: fixed;
  top: 105px; 
  left: 0;
  width: 100vw;
  background-color: rgb(199, 193, 193);
  padding: 10px 0;
}
.desplegable:hover .submenu {
    display: flex;
}
.Contenedor_del_nav{
    display: flex;
    background-color: rgb(255,0,0 );
    width: 100%;
}
.desplegable{
    display: flex;
    height: 100%;    
    text-align: center;
    justify-content: center;
}
.tabla_menu{
    width: 70%;
    margin-left: 10vh;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
}
.tabla_menu td{
    width: auto;
}
.negrita{
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 13.8px;
    padding-top: 5%;
}
.negrita:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

/*main*/
.seccion-contenido {
    width: 100%; 
    max-width: 1200px; 
    margin: 20px auto; 
    padding: 0 100px; 
    font-family: Arial, sans-serif;
}

.home {
    font-size: 16px; 
    color: black;
    margin-bottom: 10px; 
}

.home a {
    color: black; 
    text-decoration: none; 
}

.home a:hover {
    text-decoration: underline; 
}

.home span {
    color: gray; 
}

.linea-roja {
    border-top: 5px solid #e30613;
    margin: 20px 0; 
}

.titulo {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 30px; 
    margin-bottom: 20px;
}

.subtitulo1{
    color: rgb(73, 72, 72);
}

.subtitulo2{
    color:red;
}

.parrafos p {
    font-size: 16px;
}

.parrafos a {
    color: red;
    text-decoration: none;
}

.footer-info-section { 
    width: 100%; 
    max-width: 1200px;
    padding: 20px 0; 
}

.vigilado-logo-container {
    text-align: left;
}

.vigilado-logo {
    width: 200px;
    height: auto;
}

.footer-info-section p {
    font-size: 12px; 
    color: gray; 
}


/* File: footer.css */
footer {
    margin-top: 50px;
    color: black;
    justify-content: center; 
}

.footer-contenedor {
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-around; 
    padding: 0 20px; 
}

.footer-columna {
    margin: 0 10px;
    min-width: 150px;
}

.footer-columna h3 {
    font-size: 15px;
    margin-bottom: 15px;
    color: black;
}

.footer-columna ul {
    list-style: none;
}

.footer-columna ul li {
    margin-bottom: 8px;
}

.footer-columna ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.footer-columna ul li a:hover {
    text-decoration: underline;
}

.footer-logos-seccion {
    width: 100%; 
    padding: 30px 0; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}

.footer-logos-contenedor {
    max-width: 1200px; 
    width: 100%; 
    margin: 0 auto; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 0 20px; 
    box-sizing: border-box;
}

.logo-universia {
    height: 55px; 
}

.logo-fogafin {
    height: 60px; 
}

.footer-franja-roja {
    width: 100%; 
    padding: 30px 0; 
    box-sizing: border-box;  
}

.footer-contactos {
    background-color: rgb(255,0,0 ); 
    max-width: 1200px;
    width: 100%; 
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 10px 150px;
    box-sizing: border-box;
}

.santander-logo {
    margin-bottom: 10px; 
}

.santander-logo-imagen {
    height: 65px; 
}

.contactanos {
    width: 100%; 
    display: flex; 
    align-items: center; 
}

.contactanos-info {
    text-align: left; 
    margin-right: 20px; 
}

.contactanos-info h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}
.contactanos-info p {
    margin: 5px 0;
    font-size: 12px;
    color: white;
}

.franja-roja-logo {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.vigilado-logo {
    height: 100px;
    margin-right: 10px;
}
.franja-roja-logo p {
    font-size: 10px;
    color: white;
}

.footer-final {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.footer-final-texto {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 12px;
    color: gray;
    box-sizing: border-box;
}

.footer-final-texto p {
    margin-bottom: 22px;
}

.footer-final-texto a {
    color: gray;
    text-decoration: none;
}

.footer-final-texto a:hover {
    text-decoration: underline;
}
